.mydiv {
  position: relative;
  display: block;
  width: 110px;
  height: calc(40px + 5px);
  overflow: hidden;
  white-space: normal;
}
.mytext {
  word-break: break-all;
  position: relative;
  display: block;
  max-height: 2.5rem;
}
.myelli {
  position: absolute;
  right: 0;
  top: calc(4rem - 3px - 100%);
  text-align: left;
  background: white;
}
